<!DOCTYPE html>
<html>
<head>
    <title>Demo Express.js</title>
    <meta charset="UTF-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <header class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Démo Express.js</a>
            </div>
            <div class="collapse navbar-collapse">
                {% include './include/nav.html' %}
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}
</div>
</body>
</html>